:root {
  --headerHeight: 10vh;
  --mainHeight: calc(100vh - var(--headerHeight));
}

body {
  margin: 0;
}

header {
  min-height: var(--headerHeight);
  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#main {
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  min-height: var(--mainHeight);
  align-items: center;
}

#main .timezone-container {
  flex: 1;
  text-align: center;
}

#main .timezone-container .remove {
  cursor: pointer;
  display: none;
}

#main .timezone-container .timezone-info:hover .remove {
  cursor: pointer;
  display: initial;
}
